.header {
    padding: 32px 56px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F0F1;
}

.header-logo {
    font-size: 32px;
    float: left;
}

.header-logo img {
    width: 43px;
    height: 38px;
}

.header a:hover {
    color: rgb(216, 81, 64);
}


.hello-message {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.hello-message .hello {
    margin-right: 10px;
    color: #242321;
}

.hello-message .username {
    margin-right: 10px;
    color: #0d71bb;
}

.hello-message .login-button {
    margin-right: 10px;
}

.hello-message a {
    color: #666
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    color: #242321;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio-container .portfolio-content {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 20px 0;
}

.portfolio-container .portfolio-content  p{
    color: #666;
}

.portfolio-container .portfolio-title {
    margin-top: 20px;
    font-size: 26px;
}

.portfolio-container .portfolio-menu {
    display: flex;
    flex-flow: row;
    gap: 16px;
    flex-grow: 1;
    justify-content: flex-end;
}

.portfolio-menu .item a {
    color: #000;
}

.portfolio-menu .item a:hover {
    color: #0d71bb;
}

/*@media (max-width: 620px) {
    .portfolio-container {
        flex-flow: column;
        align-items: flex-start;
    }
    .portfolio-menu {
        margin-top: 30px;
        justify-content: flex-start;
    }
    .portfolio-menu .item {
        margin-right: 10px;
        font-size: 14px;
    }

}

@media (min-width: 830px) {

    .portfolio-container {
        flex-flow: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .portfolio-menu {
        justify-content: flex-end;
    }
    .portfolio-menu .item {
        font-size: 16px;
    }
}*/