.hello-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.more-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #737379;
    margin: 32px 0;
}

.profile-image {
    border-radius: 12px;
    width: 400px;
    background-size: cover;
    background-position: top center;
}

.profile-cover {
    padding: 32px 56px;
    background-color: #F4F0F1;
    margin-bottom: 32px;
}

.latest-posts {
    padding: 32px 56px;
}

.latest-posts .item-box {
    width: 48%;
}