.wrap-list > div {
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    width: calc(1/3*100% - (1 - 1/3)*10px);
    padding: 10px;
    color: #fff;
    background: #fff;
}

.wrap-list > div:nth-child(3n) {
    margin-right: 0;
}

.wrap-list::after {
    content: '';
    flex: auto;
}

/*
  remove top margin from first row
  -n+3 - 3 columns per row
*/
.wrap-list > div:nth-child(-n+3) {
    margin-top: 0;
}